body{
    background: transparent url(../img/rhyme2.jpg) no-repeat center top;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.8))),url(../img/rhyme2.jpg) no-repeat center top;
    background: -webkit-linear-gradient(rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.8) 100%),url(../img/rhyme2.jpg) no-repeat center top;
    background: -moz-linear-gradient(rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.8) 100%),url(../img/rhyme2.jpg) no-repeat center top;
    background: -o-linear-gradient(rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.8) 100%),url(../img/rhyme2.jpg) no-repeat center top;
    background: linear-gradient(rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.8) 100%),url(../img/rhyme2.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    font-size: 35px;
}


/* all words typed by player will be in li elements */
ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 24px;
}

/* hide the gameboard at the beginning of game */
#gameboard {
    display: none;
}

.bignumber {
    font-size: 200px;
    margin: 0;
    padding: 0;
}

#herocopy {
    width: 100%;
    text-align: center;
}

#word {
    font-size: 100px;
}

.faded {
    opacity: 0.3;
}

/* set the display of editable regions of page */
[contenteditable="true"] {  
    background-color: #E2F64C;
    color: #333;
    padding: 10px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
    min-height: 40px;
    overflow: hidden;
}

[contenteditable="false"] {
    background-color: transparent;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;   
    transition: all .5s linear;
}

/* remove default Google Chrome highlighting */
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
    border:none;
    outline:none;
}

/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 767px) {
    .bignumber {
        font-size: 100px;
    }
}


/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) 
and (max-width : 1024px) {
    .bignumber {
        font-size: 150px;
    }
}


/* Large screens ----------- */
@media (min-width : 1824px) {
    .bignumber {
        font-size: 240px;
    }
}
