/** 
 * CSCI E-15 Project 2
 * Ed Hebert ehebert@fas.harvard.edu 
 *
 * Note - Twitter Bootstrap is used on this app, and many of these styles
 * are overrides of Bootstrap defaults
 */

/**
 * Sticky footer 
 */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 30px;
}
#footer {
    z-index: 1;
    background-color: #f9776c;
    border-top: 1px solid #666;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f75246), color-stop(100%, #f44033)),#f75246;
    background: -webkit-linear-gradient(#f75246,#f44033),#f75246;
    background: -moz-linear-gradient(#f75246,#f44033),#f75246;
    background: -o-linear-gradient(#f75246,#f44033),#f75246;
    background: linear-gradient(#f75246,#f44033),#f75246;
    color: #fff;
    padding-top: 10px;
    font-size: 12px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
} 


/**
 * General, sitewise styles 
 */

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.placeholder {
    font-size: 100px;
    padding-top: 22%;
    text-shadow: 3px 3px 5px #333;
}

header {
    width: 100%;
    text-align: center;
    padding: 11px 0;
    z-index: 1;
    background-color: #f9776c;
    border-bottom: 1px solid #666;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9776c), color-stop(100%, #f75246)),#f9776c;
    background: -webkit-linear-gradient(#f9776c,#f75246),#f9776c;
    background: -moz-linear-gradient(#f9776c,#f75246),#f9776c;
    background: -o-linear-gradient(#f9776c,#f75246),#f9776c;
    background: linear-gradient(#f9776c,#f75246),#f9776c;
    -webkit-box-shadow: inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.12) 0 -1px 0,rgba(0,0,0,0.3) 0 1px 2px;
    -moz-box-shadow: inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.12) 0 -1px 0,rgba(0,0,0,0.3) 0 1px 2px;
    box-shadow: inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.12) 0 -1px 0,rgba(0,0,0,0.3) 0 1px 2px;
}

header h1 a {
    display: block;
    margin: 0 auto;
    width: 176px;
    height: 42px;
    text-indent: -9999px;
    background: transparent url(../img/logo.png) no-repeat center top;
}

h1, h2, h3, h4, h5, h6, label {
	font-weight: bold;
	color: #FFF;
}

body {
    background: transparent url(../img/rhyme.jpg) no-repeat center top;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0.8))),url(../img/rhyme.jpg) no-repeat center top;
    background: -webkit-linear-gradient(rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.8) 100%),url(../img/rhyme.jpg) no-repeat center top;
    background: -moz-linear-gradient(rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.8) 100%),url(../img/rhyme.jpg) no-repeat center top;
    background: -o-linear-gradient(rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.8) 100%),url(../img/rhyme.jpg) no-repeat center top;
    background: linear-gradient(rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.8) 100%),url(../img/rhyme.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.centered {
	text-align: center;
}

a, a:visited {
	transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
}

#footer a, #footer a:visited, .unfollow a, .unfollow a:visited {
	color: #FFB608;
}

#footer a:hover {
	color: #FFFBEC;
}

.well {
	background-color: #FFFBEC;
	border-color: #B7B4C5;
	margin: 0 20px 50px;
}

.page-header {
	border-bottom: 1px solid #B7B4C5;
}

.right {
	text-align: right;
}





/**
 * Branding 
 */

.navbar-inverse .navbar-brand {
	font-size: 36px;
	color: #fff;
}

.navbar-inverse .navbar-brand:hover {
	color: #FFB608;
}


/**
 * Form page styles 
 */

 textarea {
 		resize: none;
 }

.callout-error {
	padding: 20px;
	border-left: 5px;
	background-color: #FFE8C7;
	border-left: 5px solid #FFB608;
	margin-bottom: 20px;
}

.form-control {
	border: 1px solid #B7B4C5;
}

.form-control:focus {
	border-color: #FFB608;
	outline: 0;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(218,155,7,0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(218,155,7,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(218,155,7,0.6);
}


/* Button customization assistance via http://twitterbootstrap3buttons.w3masters.nl/ */
.btn-custom {
	background-color: #3C4789;
	border-color: #3C4789;
	color: #fff;
	margin: 20px 0 20px 0;
	transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.unfollow a:hover {
	background-color: #FFB608;
	border-color: #FFB608;
	color: #3C4789;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
	background-color: #3C4789;
	border-color: #3C4789;
	color: #fff;
}

/**
 * Posts
 */

 .avatar{
 	border: 1px solid #3C4789;
 	margin-top: 15px;
 }

 .post {
 	background-color: #FFF3CA;
 }

 .postform {
 	margin: 0 25px;
 }

 /**
  * Posts / Users
  */

.caption {
    text-align: center;
}

.thumbnail {
    background-color: #FFF3CA;
    margin-bottom: 20px;
}